
/***********************MAIN STYLE CODE***********************//****COPIED FROM STYLE.CSS TO SAVE TIME****/
html {
  margin: 0px;
}
body {
  margin: 0px;
}
body::-webkit-scrollbar {
  display: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 0.1fr 1fr 0.5fr 2fr 0.1fr;
  border: none;
  margin: 0px;
  padding: 0px;
}


/***********************NAVIGATION BAR STYLE CODE***********************/


.topnav {
  background-color: black;
  display: grid;
  grid-row: 1;
  grid-column: 1 /span 7;
  grid-template-columns: 1fr 3fr 2fr 2fr 2fr 2fr 2fr;
  grid-template-rows: 1fr;
}
.nav-logo {
  border: solid 3px black;
  text-align: center;
  background-color: black;
  padding: 6px 7px;
}
.nav-logo-image {
  height: auto;
  width: 80%;
}
.nav-text-logo {
  border: solid 3px black;
  text-align: left;
  font-size: 20px;
  background-color: black;
}
.nav-logo-text {
  height: auto;
  width: 70%;
}
.nav-year {
  border: none;
  text-align: center;
  background-color: rgb(0, 0, 0);
  padding-top: 5px;
  transition: background-color 0.4s ease;
}
.nav-year:hover {
  background-color: #2C2C2C;
}
.nav-year-text {
  transition: transform 0.4s ease;
  height: auto;
  width: 80%;
}
.nav-year-text:hover {
  transform: scale(1.1);
}
.dropdown {
  display: inline-block;
}
.dropdown-button {
  margin-bottom: 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color:black;
  transition: display 0.4s ease;
}
.dropdown-content a {
  color: white;
  padding: 5px 10px;
  display: block;
  width: 12vw;
  text-decoration: none;
  transition: background-color 0.4s ease;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2vw;
}
.dropdown-content a:hover {
  background-color:#2C2C2C;
}
.dropdown:hover .dropdown-content {
  display: block;
}


/***********************BODY STYLE CODE***********************/


.title {
  grid-row: 2;
  grid-column: 1 / span 7;
  text-align: center;
  border: none;
  background-image: url("images/year13header.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  z-index: -1;

}
.logo-text {
  transform: translate(0%, 150%);
  color: white;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 600%;
}


/***********************BODY BUTTONS STYLE CODE***********************/


.button-container {
  grid-row: 3;
  grid-column: 1 /span 7;
  display: grid;
  grid-template-columns: 1fr 4fr 4fr 4fr 1fr;
  grid-template-rows: 1fr;
  border: solid 3px white;
  column-gap: 1.3vw;
}
.blank-left-space {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  border: solid 3px white;
}
.year-button {
  grid-row: 1;
  text-align: center;
  padding-top: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.year-image-button {
  height: 100%;
  width: 100%;
}
.year-button:hover{  
  transform: scale(1.05);
  opacity: 0.81;
  cursor: pointer;
}
.blank-right-space {
  grid-row: 1;
  grid-column: 7;
  text-align: center;
  border: solid 3px white;
}


/***********************MAIN TEXT STYLE CODE***********************/


.main-body {
  grid-column: 1 / span 7;
  grid-row: 4;
  text-align: center;
  border: solid 3px white;
}

.main-text-header {
  padding-top: 2%;
  color: black;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 3.8vw;
}
.header-line {
  border-radius: 5px;
  border: 3px solid black;
  width: 65rem;
}
.main-text {
  color: black;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2vw;
  padding: 0;
  margin-left: 10rem;
  margin-right: 10rem;
}
.small-line {
  border-radius: 5px;
  border: 3px solid black;
  width: 45rem;
  margin-bottom: 3rem;
  margin-top: 2rem;
}


/***********************FOOTER STYLE CODE***********************/


.footer {
  background-color: black;
  grid-column: 1 /span 7;
  margin-top: 10rem;
  border: 3px solid black;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
.footer-title-text {
  color: white;
  font-weight: 600;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
}
.footer-text {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 120%;
  padding-right: 2rem;
  text-align: right;
}


/***********************MEDIA QUERIES STYLE CODE***********************/


@media (max-width: 1000px) {
  .dropdown-content a {
    font-size: 1.5vw;
    width: 12vw;
  }
  .logo-text {
    transform: translate(0%, 180%);
    font-size: 370%;
  }
}
@media (max-width: 750px) {
  .dropdown-content a {
    font-size: 1.5vw;
    width: 12.2vw;
  }
  .container {
    grid-template-rows: 0.05fr 0.9fr 0.2fr 2fr 0.1fr;
  }
  .logo-text {
    transform: translate(0%, 180%);
    font-size: 330%;
  }
  .main-text {
    font-size: 5vw;
  }
  .main-text-header {
    font-size: 8vw;
  }
}
@media screen and (max-width: 500px) {
  .topnav {
    background-color: black;
    display: grid;
    grid-row: 1;
    grid-column: 1 /span 7;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .dropdown-content {
    text-align: center;
    width: 90vw;
  }
  .dropdown-content a {
    font-size: 6.5vw;
    width: 94.4%;
    height: 10vh;
    z-index: 9;
  }
  .nav-ynine {
    grid-column: 2 /span 2;
    grid-row: 1;
  }
  .nav-yten {
    grid-column: 4 /span 2;
    grid-row: 1;
  }
  .nav-yeleven {
    grid-column: 1 /span 2;
    grid-row: 2;
  }
  .nav-ytwelve {
    grid-column: 3 /span 2;
    grid-row: 2;
  }
  .nav-ythirteen {
    grid-column: 5 /span 2;
    grid-row: 2;
  }
  .nav-text-logo {
    display: none;
  }
  .button-container {
    grid-template-columns: 1fr repeat(6, 4fr) 1fr;
    grid-template-rows: 1fr;
    padding-top: 6px;
  }
  .year-button {
    padding: 4px;
  }
  .physics-btn {
    grid-column: 2 /span 2;
    grid-row: 1;
  }
  .chemistry-btn {
    grid-column: 4 /span 2;
    grid-row: 1;
  }
  .biology-btn {
    grid-column: 6 /span 2;
    grid-row: 1;
  }
  .logo-text {
    transform: translate(0%, 140%);
    font-size: 500%;
  }
  .header-line {
    width: 40rem;
  }
  .small-line {
    width: 24rem;
  }
  .main-text {
    font-size: 10vw;
  }
  .main-text-header {
    font-size: 15vw;
  }
  .footer-title-text {
    font-size: 300%;
  }
  .footer-text {
    font-size: 180%;
  }
}
